.App {
  background-image: url('../src/images/movie-background.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.main-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  padding: 20px;
  background: lightgray;
  width: 80%;
}

.sub-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px 50px 50px;
  width: 100%;
}

.results-container {
  background: lightgray;
  border: groove;
}

.nominees-container {
  background: lightgray;
  border: groove;
}

.search-field {
  width: 90%;
  height: 20px;
}
