html {
  background: url('../src/images/movie-bg-black.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-container {
  padding: 15px;
  background: #969695;
  width: 100%;
  position: relative;
}

.search-field {
  width: calc(93% - 140px);
  height: 28px;
  padding-left: 40px;
}

.magnifying-glass {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 4%;
  padding-top: 8px;
}

.sub-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px 50px 50px;
  width: 100%;
}

.list-wrapper {
  background: linear-gradient(to left, transparent, #969191 35%, black 55%, transparent 100%);
  width: 700px;
}

.row {
  display: flex;
  padding-bottom: 10px;
}

.row-text-button {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

img {
  width: 70px;
  height: 100px;
}

h1 {
  color: goldenrod;
  font-size: 40px;
}

h2 {
  color: goldenrod;
}

.row-text {
  color: whitesmoke;
  padding-bottom: 15px;
  font-size: 18px;
}

button {
  width: 140px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0;
  border-radius: 140px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  background: gold;
} :disabled {
  background-color: gray;
}
